@media (max-width: 1360px) {
    #fullscreen-slider .slider-captions h1{
        font-size: 36px;
    }
    #fullscreen-slider .slider-captions h2{
        font-size: 30px;
    }
    #fullscreen-slider .slider-captions h3{
        font-size: 24px;
    }
}

@media (max-width: 1180px) {
    #fullscreen-slider .slider-captions{
        margin: 32% auto 0;
    }
    .navbar-header{
        float: none;
    }

    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-default .navbar-collapse, 
    .navbar-default .navbar-form{
        border-color:#f1f2f7;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav{
        background-color: #ffffff;
        float: none!important;
        margin: 0!important;
        padding: 2px 0;
    }
    .navbar-nav>li {
        float: none;
        border-bottom: 1px solid #f1f2f7;
    }
    .navbar-nav>li:last-child {
        border-bottom: 0px solid transparent;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
        background-color: transparent;
        color: #2c3e50;
    }    
    .navbar-nav>li>a {
        color: #2c3e50 !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-nav>li>a:after {
        height: 0 !important;
    }
    .collapse.in {
        display:block !important;
    }
    .navbar-toggle {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .container>.navbar-header, 
    .container-fluid>.navbar-header, 
    .container>.navbar-collapse, 
    .container-fluid>.navbar-collapse {
        margin-left: -15px;
        margin-right: -15px;
    }
    .navbar>.container .navbar-brand, 
    .navbar>.container-fluid .navbar-brand {
        margin-left:0;
    }
    .navbar-default .navbar-toggle, 
    .navbar-default .navbar-toggle {
        -webkit-transition: all .25s ease;
           -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
             -o-transition: all .25s ease;
                transition: all .25s ease;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
        font-size: 2em;
        line-height: 25px;
    }
    .navbar-collapse.in {
        overflow-y: auto!important;
        background:#ffffff;
    }
    

    .navbar-nav > li .sub-menu, .navbar-nav > li .sub-menu > li .sub-menu {
        display: none;
        height: auto;
        left: inherit;
        min-width: 100%;
        opacity: 1;
        overflow: visible;
        padding-left: 20px;
        position: relative;
        top: inherit;
        z-index: 1;
    }    
    .navbar-nav>li:hover .sub-menu,
    .navbar-nav>li .sub-menu>li:hover .sub-menu{
        width: 100%;
        left: inherit;
        top: inherit;
    }
    .navbar-nav>li.menu-item-has-children:before ,
    .sub-menu>li.menu-item-has-children:before{
        content: ""!important;
    }
    .navbar-nav>li .sub-menu>li>a {
        line-height: 20px;
        padding: 10px 15px; 
        background: inherit !important;
        border-top:1px solid #f1f2f7 !important;
        color: #262626;
    }
    .navbar-nav>li .sub-menu>li>a:hover {
        color: #1fb5ac;
        background: inherit !important;
    }
    .toggle_nav_button{
        display: block ;
        color: #ffffff;
        font-size: 28px;
        line-height: 20px;
        text-align: center;
        position: absolute;
        top: 0;
        right: 15px;
        left: inherit;
        margin-left: 0px;
        border: 0;
        padding: 10px;
        width: 42px;
        height: 42px;
        z-index: 100;
        cursor: pointer;
    }
    .sub-menu .toggle_nav_button{
        right: 40px;
    }

    .header-logo{
        padding-top: 24px;
        margin-left: 30px;
    }


}
@media (max-width: 980px) {
  #fullscreen-slider .slider-captions{
    margin: 50% auto 0;
  }
}
@media (max-width: 640px) {
    .header-logo{
        margin-left: 20px;
    }
    .home-intro h1{
        font-size: 60px;
        margin-left: 0px;
    }
    .home-video-content{
        position: relative;
    }
    #options{
        margin: 20px auto 40px 0;
    }
    #filters{
        margin-left: 10px;
    }
    .client-box{
        height: 350px;
    }
}

@media (max-width: 480px){
    h2{
        font-size: 50px;
    }
    h3{
        font-size: 30px;
    }
    .section .header h2 + p{
        font-size: 18px;
    }
    .project-item{
        margin-bottom: 10px;
    }
    .home-video-content{
        margin-top: 40%;
    }
    .client-box{
        height: 260px;
    }
}

@media (max-width: 360px){
    #fullscreen-slider .slider-captions h1{
        font-size: 30px;
    }
    #fullscreen-slider .slider-captions h2{
        font-size: 24px;
    }
    #fullscreen-slider .slider-captions h3{
        font-size: 20px;
        line-height: 30px;
    }    
    .home-intro h1{
        font-size: 44px;
    }
    .btn{
        padding: 6px 8px; 
    }
    .masonry-post{
        width: 300px;
    }
}
@media (max-width: 320px){
    .home-video-content .vicon > img {
        height: 100px;
        margin-top: 10px;
    }
}